@import "./styling/variables.css";
@import "./styling/resets.css";
@import "./styling/utility.css";

.product {
    margin: 1em;
    border-radius: 1em;
    overflow: hidden;
    max-width: 600px;
    display: grid;
		border: 1px solid red;
} @media (min-width: 600px) { .product { grid-template-columns: 1fr 1fr; } }

.product__description {
		border: 3px solid blue;
    background: var(--clr-neutral-100);
    padding: 1em;
    display: grid;
    gap: 1rem;
}

.product__description_title {
    font-size: 2rem;
    font-family: 'Fraunces';
    color: var(--clr-primary-800)
}

.product__description_price {
    font-family: 'Fraunces';
    font-size: 2rem;
    color: var(--clr-primary-800)
}
